::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #1dbfc1;
  /* background-image: linear-gradient(to bottom, #f59e0b, #fcd34d); */
}

::-webkit-scrollbar-thumb:hover {
  background-color: orangered;
}
